*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.btn{
    height: 50px;
    width: 300px;
    text-align: center;
    cursor: pointer;
}
.answer-button{
    display: flex;
    flex-direction: column;
}
.btn:disabled{
    cursor: no-drop;
}

.btn:hover:not([disabled]){
background-color: rgb(61, 61, 61);
color: white;
}
.correct{
    background-color: green;
}
.incorrect{
    background-color: red;
}